$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$dk-blue: hsl(234, 12%, 34%);
$grey-blue: hsl(229, 6%, 66%);
$light-grey: hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $dk-blue;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  text-align: center;
  width: 30rem;
  margin-bottom: 2rem;

  h1 {
    font-weight: 200;
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__text {
    font-size: 0.9rem;
    color: $grey-blue;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  width: 20rem;
  height: 14rem;
  border-radius: 7px;
  box-shadow: 2px 5px 13px 2px $grey-blue;

  &__header {
    margin-bottom: 0.7rem;
  }

  &__text {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: $grey-blue;
  }

  &__img {
    height: 4rem;
    width: 4rem;
    justify-self: flex-end;
    align-self: flex-end;
  }

  &--supervisor {
    border-top: 0.3rem solid $cyan;
  }

  &--team-builder {
    border-top: 0.3rem solid $red;
  }

  &--karma {
    border-top: 0.3rem solid $orange;
  }

  &--calculator {
    border-top: 0.3rem solid $blue;
  }
}

@media (max-width: 1000px) {
  body {
    height: auto;
    margin-top: 4rem;
  }

  .hero {
    width: 300px;

    h1, h2 {
      font-size: 1.5rem;
    }

    &__text {
      font-size: 0.8rem;
    }
  }

  .cards {
    flex-direction: column;
  }

  .card {
    &--team-builder {
      margin-bottom: 2rem;
    }

    &--calculator {
      margin-bottom: 2rem;
    }
  }
}