$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$dk-blue: hsl(234, 12%, 34%);
$grey-blue: hsl(229, 6%, 66%);
$light-grey: hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $dk-blue;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  text-align: center;
  width: 30rem;
  margin-bottom: 2rem;

  h2 {
    font-weight: 200;
    font-size: 2rem;
  }

  &__text {
    font-size: 0.8rem;
    color: $grey-blue;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1000px;


  .card {
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    height: 12rem;
    border-radius: 7px;
    box-shadow: 0px 8px 15px -1px #000000;


    &--supervisor {
      border-top: 0.3rem solid $cyan;
    }

    &--team-builder {
      border-top: 0.3rem solid $red;
    }

    &--karma {
      border-top: 0.3rem solid $orange;
    }

    &--calculator {
      border-top: 0.3rem solid $blue;
    }
  }
}